<%= component_controller do %>
  <li>
    <% if editing? %>
      <%= form_for todo, data: { reflex: 'submit->Todo#update' } do |f| %>
        <%= f.text_field :name %>
        <%= f.submit 'Save' %>
        <%= reflex_tag :cancel_edit, :button, 'Cancel' %>
      <% end %>
    <% else %>
      <%= todo.name %>
      <%= reflex_tag :edit, :button, 'Edit' %>
      <%= reflex_tag :delete, :button, 'Delete' %>
    <% end %>
  </li>
<% end %>
